<% if @event.logo.present? %>
 <%= link_to image_tag(@event.logo.url(:thumb)), @event.logo.url, :target => "_blank" %>
<% end %>

<h1><%= @event.name %></h1>
<h2><%= t(@event.status, :scope => "event.status") %></h2>
<h2><%= @event.category.try(:name) %></h2>
<% if @event.images.present? %>
  <% @event.images.each do |i| %>
    <%= link_to image_tag(i.url(:small)), i.url %>
  <% end %>
<% end %>
<ul>
<% @event.attachments.each do |a| %>
  <li><%= link_to a.description, a.attachment.url %></li>
<% end %>
</ul>

<%= sanitize @event.description %>
<p><%= link_to("评论", new_event_post_path(@event), class: "btn btn-default")%></p>
<p><%= link_to "开始报名", new_event_registration_path(@event), :class => "btn btn-primary" %></p>

<table class="table">
  <thead>
   <tr>
      <th>编号</th>
      <th>评价</th>
      <th>发表者</th>
      <th>发表时间</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.id %>楼</td>
        <td><%= post.content %></td>
        <td><%= post.user.email %></td>
        <td><%= post.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
